* {
  margin: 0;
  padding: 0;
}

code {
  padding: 20px;
  margin: 10px;
  display: block;
  background: rgba(63,63,63,0.9);
  color: #FFFFFF;
  border-radius: 10px;
}

/* Style scrollbar for webkit-based browsers */
::-webkit-scrollbar {
  width: 10px;
}
 ::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
 ::-webkit-scrollbar-thumb {
  background-color: #BBBBBB;
  border-radius: 10px;
}
 ::-webkit-scrollbar-thumb:hover {
  background-color: #e49191;
}
body {
  overflow-x: hidden;
}

.n-form-item .n-form-item-blank {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  position: relative;
  display: flex;
  flex-direction: column;

}